<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer">
<!--/ footer Star /-->
    <!--<section class="section-footer">
         <div class="container">
               <div class="row">
                 <div class="col-sm-12 col-md-4">
                   <div class="widget-a">
                     <div class="w-header-a">
                       <h3 class="w-title-a text-brand">EstateAgency</h3>
                     </div>
                     <div class="w-body-a">
                       <p class="w-text-a color-text-a">
                         Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
                         sed aute irure.
                       </p>
                     </div>
                     <div class="w-footer-a">
                       <ul class="list-unstyled">
                         <li class="color-a">
                           <span class="color-text-a">Phone .</span> contact@example.com</li>
                         <li class="color-a">
                           <span class="color-text-a">Email .</span> +54 356 945234</li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-12 col-md-4 section-md-t3">
                   <div class="widget-a">
                     <div class="w-header-a">
                       <h3 class="w-title-a text-brand">The Company</h3>
                     </div>
                     <div class="w-body-a">
                       <div class="w-body-a">
                         <ul class="list-unstyled">
                           <li class="item-list-a">
                             <i class="fa fa-angle-right"></i> <a href="#">Site Map</a>
                           </li>
                           <li class="item-list-a">
                             <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                           </li>
                           <li class="item-list-a">
                             <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                           </li>
                           <li class="item-list-a">
                             <i class="fa fa-angle-right"></i> <a href="#">Careers</a>
                           </li>
                           <li class="item-list-a">
                             <i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
                           </li>
                           <li class="item-list-a">
                             <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                           </li>
                         </ul>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="col-sm-12 col-md-4 section-md-t3">
                   <div class="widget-a">
                     <div class="w-header-a">
                       <h3 class="w-title-a text-brand">International sites</h3>
                     </div>
                     <div class="w-body-a">
                       <ul class="list-unstyled">
                         <li class="item-list-a">
                           <i class="fa fa-angle-right"></i> <a href="#">Venezuela</a>
                         </li>
                         <li class="item-list-a">
                           <i class="fa fa-angle-right"></i> <a href="#">China</a>
                         </li>
                         <li class="item-list-a">
                           <i class="fa fa-angle-right"></i> <a href="#">Hong Kong</a>
                         </li>
                         <li class="item-list-a">
                           <i class="fa fa-angle-right"></i> <a href="#">Argentina</a>
                         </li>
                         <li class="item-list-a">
                           <i class="fa fa-angle-right"></i> <a href="#">Singapore</a>
                         </li>
                         <li class="item-list-a">
                           <i class="fa fa-angle-right"></i> <a href="#">Philippines</a>
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
       </section>-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
     <!--   <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a th:href="@{/index}">Home</a>
            </li>
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Property</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Blog</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>-->
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright - 2022
            <span class="color-a">FlatAgency</span> All Rights Reserved.
          </p>
        </div>
       <!-- <div class="credits">-->
<!--
  All the links in the footer should remain intact.
  You can delete the links only if you purchased the pro version.
  Licensing information: https://bootstrapmade.com/license/
  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
-->
 Designed by Haoua Amamatou Oumar MAIROU, Chaymae BENTALEB and Lookman Ossam SANA
        </div>
</div>
</div>
</footer>
<!--/ Footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script th:src="@{lib/jquery/jquery.min.js}"></script>
<script th:src="@{lib/jquery/jquery-migrate.min.js}"></script>
<script th:src="@{lib/popper/popper.min.js}"></script>
<script th:src="@{lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{lib/easing/easing.min.js}"></script>
<script th:src="@{lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{lib/scrollreveal/scrollreveal.min.js}"></script>

<!-- Contact Form JavaScript File -->
<script th:src="@{contactform/contactform.js}"></script>

<!-- Template Main Javascript File -->
<script th:src="@{js/main.js}"></script>

    <script th:src="@{js/img.js}"></script>



   <!-- <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/bootstrapless-star-rating/star-rating.min.js}"></script>
-->

<!-- table pagination Javascript File -->
    <!--<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script>
        var $table = $('#table')
        var $remove = $('#remove')
        var selections = []

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }

        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1
            })
            return res
        }

        function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            })
            return html.join('')
        }

        function operateFormatter(value, row, index) {
            return [
                '<a class="like" href="javascript:void(0)" title="Like">',
                '<i class="fa fa-heart"></i>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-trash"></i>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                alert('You click like action, row: ' + JSON.stringify(row))
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
            }
        }

        function totalTextFormatter(data) {
            return 'Total'
        }

        function totalNameFormatter(data) {
            return data.length
        }

        function totalPriceFormatter(data) {
            var field = this.field
            return '$' + data.map(function (row) {
                return +row[field].substring(1)
            }).reduce(function (sum, i) {
                return sum + i
            }, 0)
        }

        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
                height: 550,
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: 'Item ID',
                        field: 'id',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        footerFormatter: totalTextFormatter
                    }, {
                        title: 'Item Detail',
                        colspan: 3,
                        align: 'center'
                    }],
                    [{
                        field: 'name',
                        title: 'Item Name',
                        sortable: true,
                        footerFormatter: totalNameFormatter,
                        align: 'center'
                    }, {
                        field: 'price',
                        title: 'Item Price',
                        sortable: true,
                        align: 'center',
                        footerFormatter: totalPriceFormatter
                    }, {
                        field: 'operate',
                        title: 'Item Operate',
                        align: 'center',
                        clickToSelect: false,
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }]
                ]
            })
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                })
            $table.on('all.bs.table', function (e, name, args) {
                console.log(name, args)
            })
            $remove.click(function () {
                var ids = getIdSelections()
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                })
                $remove.prop('disabled', true)
            })
        }

        $(function() {
            initTable()

            $('#locale').change(initTable)
        })
    </script>-->
    <!--<script>
        function saveRating(){
        if ($('.star.star-1')[0].checked){
            $.ajax({
                      type: "POST",
                        url: "Rating_appart",
                        data: { operation: "operation1", userRating:stars, resId: numberOfQuery }
                    }).done(function() {
                      alert( "Rating saved");
                     });
            }
        }
    </script>-->

</div>
</body>
</html>