<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: html_head(page_title='About')"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Page not found</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
