<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: html_head(page_title='About')"></head>
<body>
<div th:replace="fragments/header :: header"></div>

<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Search Result</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Search</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Result
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->
<section>
    <div class="container">
        <h3>Aucun resultat trouvee=</h3>
    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
